$border-color: #ECECEC;
$bg-color-blue: rgb(7, 25, 39);
$body-bg-color: rgb(6, 18, 27);
$bg-color-white:#fff;
$bg-color-fafafa:#fafafa;
$font-color-fbfbfb:#fbfbfb;
$bg-color-deepblue:#0E3C55;
$bg-transparent: transparent;

$font-color-white:#fff;
$font-color-blue: rgb(42, 134, 232);
$font-color-first: rgb(177, 177, 177);
$font-color-golden: rgb(218,165,32);
$font-color-lightblack:rgba(0,0,0,0.95);
$font-color-gray: rgb(142, 150, 160);

$font-size-14:14px;
$font-size-15:15px;
$font-size-16:16px;
$font-size-20:20px;
$font-size-sm: 80%;

$font-weight-300: 300;
$font-weight-400:400;
$font-weight-500:500;
$font-weight-600:600;
$font-weight-700:700;

$line-height-30: 30px;
$line-height-20: 20px;

$dispalyblock:block;
$dispalyinline-block:inline-block;

$border-radius:26px;
$text-transform:uppercase;
$transition:all 0.5s ease-in-out;

$text-center:center;
$text-left:left;
$text-right:right;

$border:1px solid #ECECEC;
$float-right: right;
$float-left: left;

$green:hsl(144, 100%, 39%);
$red: hsl(349, 92%, 62%);

$m-0: 0px;
$p-0: 0px;